---
import Layout from './PageLayout.astro';
---

<Layout>
  <section class="w-10/12 mx-auto">
    <h1 class="text-center font-semibold">Schedule</h1>
    <h2 id="9-00-am">9:00 AM</h2>
    <p>Welcome + check in (30 mins) Swag table, coffee/refreshments served</p>
    <h2 id="9-30-am">9:30 AM</h2>
    <p>Opening Remarks (30 mins)</p>
    <h2 id="10-00-am">10:00 AM</h2>
    <p>Track talks 1 &amp; 2 (25 mins) Talk 1: TBD, Talk 2: TBD</p>
    <h2 id="10-30-am">10:30 AM</h2>
    <p>Walkthrough CloudSkills Labs (90 mins) Lab 1: Cloud Development, Lab 2: Benchmarking Models</p>
    <h2 id="12-00-pm">12:00 PM</h2>
    <p>Lunch (60 mins) Catered, photo booth/props, swag table</p>
    <h2 id="1-00-pm">1:00 PM</h2>
    <p>Workshops 1 &amp; 2 (55 mins) Workshop 1: ‘The Golden Prompt’, Workshop 2: TBD</p>
    <h2 id="2-00-pm">2:00 PM</h2>
    <p>Track talks 3 &amp; 4 (25 mins) Talk 3: TBD, Talk 4: TBD</p>
    <h2 id="2-30-pm">2:30 PM</h2>
    <p>Break</p>
    <h2 id="3-15-pm">3:15 PM</h2>
    <p>Track talks 5 &amp; 6 (45 mins) Talk 5: Recruiter Do&#39;s&amp;Don&#39;ts Panel, Talk 6: TBD</p>
    <h2 id="4-00-pm">4:00 PM</h2>
    <p>Raffle &amp; Closing Remarks (45 mins)</p>
    <h2 id="5-00-pm">5:00 PM</h2>
    <p>Happy hour Nearby location TBD</p>
  </section>
</Layout>
