---
import Button from '~/components/ui/Button.astro';
import GoogleLogo from '../../../assets/images/sponsors/Google_2015_logo.png';
import SeminoleStateLogo from '../../../assets/images/sponsors/logo-seminole-state-2line-cmyk-2019.png';
---

<section class="w-10/12 mx-auto">
  <h2 class="text-center">Sponsors</h2>
  <p class="text-center">Thank you to our sponsors for their generous support.</p>
</section>
<h3 class="text-center">Partners</h3>
<section class="w-10/12 mx-auto grid grid-cols-1 lg:grid-cols-2">
  <a href="https://developers.google.com/" target="_blank" rel="noreferrer">
    <img src={GoogleLogo.src} alt="Google Logo" class="object-contain h-56 w-3/4 md:w-full px-2 mx-auto" />
  </a>
  <a href="https://www.seminolestate.edu/" target="_blank" rel="noreferrer"
    ><img
      src={SeminoleStateLogo.src}
      alt="Seminole State College Logo"
      class="object-contain h-56 w-3/4 md:w-full px-2 mx-auto"
    /></a
  >
</section>

<!-- <section class="my-20">
    <h3 class="text-center">Silver</h3>
    <div class="">
      <a href="https://blackorlandotech.org/" target="_blank" rel="noreferrer"
        ><img
          src="/static/media/bot_male_master_logo_full_color_web_med.cef576b2d07371db9445.png"
          alt="Black Orlando Tech Logo"
          class="object-contain h-56 w-full px-2"
        /></a
      >
    </div>
  </section>
  <section>
    <h3 class="my-10 font-semibold">Supporters</h3><div class="w-1/2 grid grid-cols-1 md:grid-cols-1 mx-auto">
      <div class="">
        <a href="https://www.jetbrains.com/" target="_blank" rel="noreferrer"
          ><img
            src="/static/media/jb_beam.00ac2802f6d9a13779bb.png"
            alt="JetBrains Logo"
            class="object-contain h-36 w-full px-2"
          /></a
        >
      </div>
    </div>
  </section> -->

<section class="w-10/12 mx-auto">
  <iframe
    src="https://docs.google.com/presentation/d/e/2PACX-1vSLWOK5QCBkvoNcfB0K5fSPxPW6QHRpyYurCvBiizMBzb1VATghaDX0ZZ9IsJSmBuRb_tlOdBHUL8OS/embed?start=true&loop=true&delayms=5000"
    allowfullscreen="true"
    class="mx-auto w-full aspect-video rounded-3xl border-solid border-4 border-black dark:border-white"></iframe>
  <h2 class="text-center my-10">Why Sponsor DevFest Central Florida?</h2>
  <ul>
    <li class="my-10 text-lg">
      <span class="font-semibold">Technical Recruiting:</span> DevFest Central Florida is a great opportunity to meet emerging
      talent in the Central Florida tech industry.
    </li>
    <li class="my-10 text-lg">
      <span class="font-semibold">Brand Recognition/Product Exposure:</span> Expand your brand presence and expose attendees,
      partners, and press to your company, product, or API.
    </li>
    <li class="my-10 text-lg">
      <span class="font-semibold">Support the Central Florida Tech Community:</span> We are excited to be a part of the growing
      tech community in Central Florida. Join us!
    </li>
  </ul>
  <Button
    text="Become a Sponsor"
    variant="primary"
    target="_blank"
    icon="tabler:mail"
    href="mailto:organizers@devfestflorida.com"
  />
  <Button
    text="Download Sponsor Packages"
    variant="primary"
    target="_blank"
    icon="tabler:square-rounded-arrow-down"
    href="/devfestflorida-partnership-july-1-2024-v2.pdf"
  />
</section>
