---
import VenueMap from '../../assets/images/maps.seminolestate.edu.png';
import VenueImage from '../../assets/images/up.png';
---

<section class="w-10/12 mx-auto grid grid-cols-1 lg:grid-cols-2 gap-4">
  <div>
    <a href="https://goo.gl/maps/LXtoPLKqmNpmh6VZ7" target={'_blank'} rel="noreferrer">
      <img
        src={VenueImage.src}
        class="rounded-3xl border-solid border-4 border-black dark:border-white"
        alt="Seminole State College Wayne M. Densch Partnership Center"
      /></a
    >
    <p>
      We're excited to announce that DevFest{' '}
      {process.env.REACT_APP_CHAPTER_NAME} will take place at{' '}
      <span class="font-semibold"> Seminole State College Wayne M. Densch Partnership Center </span>
    </p>
  </div>
  <div>
    <a href="https://goo.gl/maps/LXtoPLKqmNpmh6VZ7" target={'_blank'} rel="noreferrer">
      <img
        src={VenueMap.src}
        alt="DevFest Map"
        class="rounded-3xl border-solid border-4 border-black dark:border-white"
      />
    </a>
    <a href="https://goo.gl/maps/LXtoPLKqmNpmh6VZ7" target={'_blank'} rel="noreferrer">
      <p class="text-lg">
        Seminole State College Wayne M. Densch Partnership Center
        <br />
        100 Weldon Blvd
        <br />
        Sanford, FL 32773
      </p>
    </a>

    <p>
      Special thanks to{' '}
      <a href="https://www.seminolestate.edu/" target={'_blank'} rel="noreferrer">
        <span class="font-semibold"> Seminole State College </span>
        {', '}
      </a>{' '}
      for sponsoring DevFest Florida on campus.
    </p>
  </div>
</section>
