---
import gif from '~/assets/images/Save_The_Date.gif';
import Button from '~/components/ui/Button.astro';
import Layout from '~/pages/tampa/PageLayout.astro';
import About from '../../components/tampa/About.astro';
import Sponsor from '../../components/tampa/Sponsor.astro';
import Venue from '../../components/tampa/Venue.astro';
---

<Layout>
  <section class="w-10/12 mx-auto grid grid-cols-1 lg:grid-cols-2">
    <div class="mx-auto">
      <img
        src={gif.src}
        class="mx-auto rounded-3xl border-solid border-4 border-black dark:border-white"
        alt="DevFest Save The Date"
      />
    </div>
    <div class="mx-auto text-center">
      <h1>DevFest Tampa</h1>
      <h2 class="font-semibold animate-pulse">Saturday, October 5th</h2>
      <p class="sm:px-5 sm:text-lg text-justify">
        DevFest Tampa is a community-run one-day conference aimed to bring technologists, developers, students, tech
        companies, and speakers together in one location to learn, discuss and experiment with technology.
      </p>
      <Button
        text="RSVP!"
        variant="primary"
        target="_blank"
        icon="tabler:square-rounded-arrow-right"
        href="https://bullsconnect.usf.edu/gdsc/rsvp_boot?id=1968434"
      />
    </div>
  </section>
  <About class="mt-4" />
  <h2 class="w-10/12 mx-auto text-center mt-4">Venue</h2>
  <Venue />
  <h2 class="w-10/12 mx-auto text-center mt-4">Sponsors</h2>
  <Sponsor />
</Layout>
