---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title:
    'DevFest Florida is group of GDG chapters from around the state of Florida. We work together to bring technologists and developers from the Florida area to code, learn, have fun, and give back.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>

<h3>DevFest Florida</h3>
<p>Put amazing content here</p>

</Layout>
