
    <!-- START event stuff -->
    <section class="w-11/12 sm:my-5 mx-auto grid grid-cols-1 lg:grid-cols-2">
        <div class="my-5 mx-auto">
          <img
            src="/src/assets/images/save-the-date.gif"
            class="mx-auto"
            alt="DevFest Save The Date Gif"
          />
        </div><div class="mx-auto text-center sm:my-5 w-11/12">
          <h1>DevFest Central Florida <br /></h1><h3 class="text-Green500 font-semibold animate-pulse">
            Date: Sept 28th, 2024
          </h3><p class="sm:px-5 sm:text-lg">
            DevFest Central Florida is a community-run one-day conference aimed to bring technologists, developers,
            students, tech companies, and speakers together in one location to learn, discuss and experiment with
            technology.
          </p><div class="my-10">
            <a
              href="https://www.eventbrite.com/e/devfest-florida-2023-tickets-702208162517?aff=oddtdtcreator"
              class="text-white bg-Red500 hover:text-white rounded-full text-md px-6 py-4">Buy a Ticket!</a>
          </div>
        </div>
      </section>
      
      <section class="my-20 flex justify-center" >
        <div
          class="my-2 text-center m-4 sm:w-3/4 border-solid border-4 border-Yellow500 rounded-3xl p-5 sm:p-10 grid grid-cols-1 lg:grid-cols-2"
          style="background:#f9ab00;"
        >
          <div class="">
            <div class="aspect-w-16 aspect-h-9">
              <iframe
                src="https://www.youtube.com/embed/wgD7-gEK9_Y"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen=""
                class="z-0"></iframe>
            </div>
          </div>
          <div>
            <h2 class="my-4">About DevFest</h2><p class="my-2 sm:my-4 sm:px-10 sm:text-xl">
              DevFests are Google-sponsored software developer conferences that allow the local software development
              community to come together to network and learn about the coolest new technology out there.
            </p><div class="my-4 p-2">
              <a
                href="https://developers.google.com/community/devfest"
                class="text-white bg-Yellow500 hover:text-white rounded-full text-md px-6 py-4">Learn More</a>
            </div>
          </div>
        </div>
      </section>
      <!-- END event stuff -->
  