---
import Layout from './PageLayout.astro';
import KeyNote1 from "./keyNote.mdx"
import Sponsors from '~/components/orlando/Sponsor.astro'
---

<Layout>
  <div style="margin:50px">  
    <KeyNote1 />
    <br>
    <Sponsors />
  </div>  
</Layout>
