---
import Layout from './PageLayout.astro';
---

<Layout>
  <div style="margin:50px">
    <h2 id="navigating-the-ethical-frontier-">Navigating the Ethical Frontier:</h2>
    <h3 id="responsible-ai-in-action">Responsible AI in Action</h3>
    <p>
      As AI continues to advance at a rapid pace, it&#39;s imperative that we develop and deploy these technologies in a
      responsible and ethical manner. This keynote panel will delve into the key considerations for building AI systems
      that prioritize human values, minimize biases, and ensure transparency. We will explore the complex interplay
      between industry, research, and government in shaping the future of AI. How can we balance the pursuit of
      innovation with the need to protect human rights, intellectual property and prevent harmful outcomes? What role
      can developers, regulators, policymakers, and industry leaders play in ensuring that AI is developed and deployed
      responsibly? Join us for this thought-provoking session as we discuss the ethical implications of AI development,
      the importance of fairness and transparency, and the real-world challenges faced by organizations. Let&#39;s work
      together to build a better world through responsible AI.
    </p>
    <p><em>Meet our panelists</em></p>
    <ul>
      <li><a href="https://www.linkedin.com/in/roya-kandalan">Roya Kandalan</a> | Research Scientist | Cigna</li>
      <li>
        <a href="https://www.linkedin.com/in/isabellajohnston">Isabella Johnston</a> | Tech Founder/CEO of Employers 4 Change
        and Host of Intern Whisperer Podcast
      </li>
      <li><a href="https://www.linkedin.com/in/lenarm">Lenar Mukhamadiev</a> | Idelsoft, CEO</li>
      <li>
        Moderated by <a href="https://www.linkedin.com/in/artinmotionllc">Christi Kapp</a> | Founder &amp; CEO, DataPsy,
        Inc. and GDG organizer for Central Florida
      </li>
    </ul>
  </div>
</Layout>
