---
import Layout from './PageLayout.astro';
import KeyNote from "./keyNote.mdx"
import Sponsors from 'src/components/orlando/Sponsor.astro'
---

<Layout>
  <div style="margin:50px">
    
  
    <KeyNote />
    <br>
    <Sponsors />
  </div>  
</Layout>
