---
import Layout from './PageLayout.astro';
import Venue from './Components/Venue.astro';

const metadata = {
  title:
    'DevFest Florida is group of GDG chapters from around the state of Florida. We work together to bring technologists and developers from the Florida area to code, learn, have fun, and give back.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <h1 class="w-10/12 mx-auto text-center">Venue</h1>
  <Venue />
</Layout>
