---
import SpeakerProfiles from '../../components/orlando/SpeakerProfiles.astro';
import Layout from './PageLayout.astro';
---

<Layout>
  <h1 class="text-center font-semibold">Featured Speakers</h1>
  <SpeakerProfiles />
</Layout>
