---
import Button from '../ui/Button.astro';
---

<section
  class="w-10/12 mt-5 mx-auto grid grid-cols-1 lg:grid-cols-2 text-center border-solid border-4 border-black dark:border-white bg-yellow-200 dark:text-black rounded-3xl p-5 sm:p-10"
>
  <div class="aspect-w-16 aspect-h-9">
    <iframe
      src="https://www.youtube.com/embed/wgD7-gEK9_Y"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      class="mx-auto w-full aspect-video rounded-3xl border-solid border-4 border-black dark:border-white"></iframe>
  </div>
  <div>
    <h2>About DevFest</h2>
    <p class="text-xl text-justify sm:px-5 sm:text-lg">
      DevFests are Google-sponsored software developer conferences that allow the local software development community
      to come together to network and learn about the coolest new technology out there.
    </p>
    <Button
      text="Learn More"
      variant="primary"
      target="_blank"
      icon="tabler:square-rounded-arrow-right"
      href="https://developers.google.com/community/devfest"
    />
  </div>
</section>
