---
import Button from "~/components/ui/Button.astro";
---

<section class="w-10/12 mx-auto">
  <p class="text-center">
    Thank you to our sponsors for their generous support.
  </p>
</section>

<h3 class="text-center my-10 font-semibold">Partners</h3>
<section class="w-10/12 mx-auto grid grid-cols-1 lg:grid-cols-2">
  <a href="https://developers.google.com/" target="_blank">
    <!-- <img src={GoogleLogo.src} alt="Google Logo" class="object-contain h-56 w-3/4 md:w-full px-16 mx-auto" /> -->

    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 300 100"
      width="272"
      height="92"
      class="object-contain h-56 w-3/4 md:w-full px-16 mx-auto bg-white dark:bg-transparent rounded-3xl"
      ><path
        fill="#EA4335"
        d="M115.75 47.18c0 12.77-9.99 22.18-22.25 22.18s-22.25-9.41-22.25-22.18C71.25 34.32 81.24 25 93.5 25s22.25 9.32 22.25 22.18zm-9.74 0c0-7.98-5.79-13.44-12.51-13.44S80.99 39.2 80.99 47.18c0 7.9 5.79 13.44 12.51 13.44s12.51-5.55 12.51-13.44z"
      ></path><path
        fill="#FBBC05"
        d="M163.75 47.18c0 12.77-9.99 22.18-22.25 22.18s-22.25-9.41-22.25-22.18c0-12.85 9.99-22.18 22.25-22.18s22.25 9.32 22.25 22.18zm-9.74 0c0-7.98-5.79-13.44-12.51-13.44s-12.51 5.46-12.51 13.44c0 7.9 5.79 13.44 12.51 13.44s12.51-5.55 12.51-13.44z"
      ></path><path
        fill="#4285F4"
        d="M209.75 26.34v39.82c0 16.38-9.66 23.07-21.08 23.07-10.75 0-17.22-7.19-19.66-13.07l8.48-3.53c1.51 3.61 5.21 7.87 11.17 7.87 7.31 0 11.84-4.51 11.84-13v-3.19h-.34c-2.18 2.69-6.38 5.04-11.68 5.04-11.09 0-21.25-9.66-21.25-22.09 0-12.52 10.16-22.26 21.25-22.26 5.29 0 9.49 2.35 11.68 4.96h.34v-3.61h9.25zm-8.56 20.92c0-7.81-5.21-13.52-11.84-13.52-6.72 0-12.35 5.71-12.35 13.52 0 7.73 5.63 13.36 12.35 13.36 6.63 0 11.84-5.63 11.84-13.36z"
      ></path><path fill="#34A853" d="M225 3v65h-9.5V3h9.5z"></path><path
        fill="#EA4335"
        d="M262.02 54.48l7.56 5.04c-2.44 3.61-8.32 9.83-18.48 9.83-12.6 0-22.01-9.74-22.01-22.18 0-13.19 9.49-22.18 20.92-22.18 11.51 0 17.14 9.16 18.98 14.11l1.01 2.52-29.65 12.28c2.27 4.45 5.8 6.72 10.75 6.72 4.96 0 8.4-2.44 10.92-6.14zm-23.27-7.98l19.82-8.23c-1.09-2.77-4.37-4.7-8.23-4.7-4.95 0-11.84 4.37-11.59 12.93z"
      ></path><path
        fill="#4285F4"
        d="M35.29 41.41V32H67c.31 1.64.47 3.58.47 5.68 0 7.06-1.93 15.79-8.15 22.01-6.05 6.3-13.78 9.66-24.02 9.66C16.32 69.35.36 53.89.36 34.91.36 15.93 16.32.47 35.3.47c10.5 0 17.98 4.12 23.6 9.49l-6.64 6.64c-4.03-3.78-9.49-6.72-16.97-6.72-13.86 0-24.7 11.17-24.7 25.03 0 13.86 10.84 25.03 24.7 25.03 8.99 0 14.11-3.61 17.39-6.89 2.66-2.66 4.41-6.46 5.1-11.65l-22.49.01z"
      ></path></svg
    >
  </a>
  <a href="https://www.mdc.edu/" target="_blank">
    <svg
      width="1620"
      height="394"
      viewBox="0 0 1620 394"
      xmlns="http://www.w3.org/2000/svg"
      class="object-contain h-56 w-3/4 md:w-full px-16 mx-auto text-black dark:text-white"
    >
      <g id="campus"></g>
      <g id="logo">
        <g id="Group">
          <path
            id="Path"
            fill="currentColor"
            stroke="none"
            d="M 881.980469 227.782852 C 881.134216 222.090424 880.079956 220.192108 870.591309 218.503723 C 856.252075 216.184128 852.663391 215.551651 842.962463 215.551651 C 787.921204 215.551651 762.612122 253.301651 762.612122 282.617096 C 762.612122 309.401215 786.022888 350.319183 839.382141 350.319183 C 860.679199 350.319183 874.810852 343.776215 878.184204 341.668213 C 882.611267 339.137543 883.03418 337.241272 883.245789 334.287537 L 884.93457 316.3591 C 884.93457 314.88623 884.93457 312.98996 881.768738 312.98996 C 879.661255 312.98996 877.972473 316.1474 877.549194 316.99411 C 868.695007 333.229614 859.413696 345.045868 840.012573 345.045868 C 808.164551 345.045868 790.871216 311.297516 790.871216 281.774536 C 790.871216 254.778702 806.901245 221.036682 841.485779 221.036682 C 860.890747 221.036682 868.695007 230.946625 876.287903 242.335785 C 878.607117 245.711288 879.872437 246.13205 881.345825 246.13205 C 883.876587 246.13205 883.876587 244.654999 883.876587 242.547501 L 881.980469 227.782852 Z"
          ></path>
          <path
            id="path1"
            fill="currentColor"
            fill-rule="evenodd"
            stroke="none"
            d="M 1001.09668 298.854614 C 1001.09668 267.012421 974.310364 251.194153 950.270813 251.194153 C 918.845825 251.194153 899.02124 276.712952 899.02124 300.750366 C 899.02124 324.586639 918.426697 350.319183 951.112915 350.319183 C 980.426208 350.319183 1001.09668 326.906219 1001.09668 298.854614 L 1001.09668 298.854614 Z M 920.953308 296.958313 C 920.953308 271.22995 933.39624 256.044159 948.582031 256.044159 C 971.567871 256.044159 979.1604 286.41333 979.1604 300.962097 C 979.1604 325.848297 965.875427 345.460785 950.478333 345.460785 C 933.819519 345.460785 920.953308 323.105774 920.953308 296.958313 L 920.953308 296.958313 Z"
          ></path>
          <path
            id="path2"
            fill="currentColor"
            stroke="none"
            d="M 1026.267578 327.752441 C 1026.267578 339.349121 1026.267578 341.668213 1017.197876 342.929993 C 1012.559204 343.564636 1010.870422 344.410858 1010.870422 346.307007 C 1010.870422 349.04953 1012.978333 349.04953 1015.509216 349.04953 C 1019.940369 349.04953 1022.471313 348.203308 1036.387085 348.203308 C 1048.622437 348.203308 1052.838379 349.04953 1058.534546 349.04953 C 1060.011597 349.04953 1062.119629 349.04953 1062.119629 346.518738 C 1062.119629 344.622437 1061.065918 343.564636 1055.791992 342.929993 C 1046.722534 341.668213 1046.722534 339.349121 1046.722534 327.540863 L 1046.722534 231.367905 L 1047.564697 213.232071 C 1047.564697 211.124573 1047.564697 208.803329 1045.245483 208.803329 C 1044.19165 208.803329 1043.772461 209.014542 1038.710449 211.545837 C 1034.914185 213.443787 1026.055908 216.605408 1020.575012 217.870865 C 1014.454956 219.347916 1013.824524 219.559631 1013.824524 221.457947 C 1013.824524 223.777039 1014.878296 223.777039 1018.674561 224.198303 C 1026.267578 224.83078 1026.267578 232.002533 1026.267578 238.327942 L 1026.267578 327.752441 Z"
          ></path>
          <path
            id="path3"
            fill="currentColor"
            stroke="none"
            d="M 1081.496216 327.752441 C 1081.496216 339.349121 1081.496216 341.668213 1072.43042 342.929993 C 1067.787842 343.564636 1066.099121 344.410858 1066.099121 346.307007 C 1066.099121 349.04953 1068.206543 349.04953 1070.737915 349.04953 C 1075.168823 349.04953 1077.699951 348.203308 1091.619995 348.203308 C 1103.851318 348.203308 1108.06665 349.04953 1113.763428 349.04953 C 1115.240479 349.04953 1117.348267 349.04953 1117.348267 346.518738 C 1117.348267 344.622437 1116.294556 343.564636 1111.020874 342.929993 C 1101.951294 341.668213 1101.951294 339.349121 1101.951294 327.540863 L 1101.951294 231.367905 L 1102.797485 213.232071 C 1102.797485 211.124573 1102.797485 208.803329 1100.474121 208.803329 C 1099.419922 208.803329 1099.001221 209.014542 1093.939209 211.545837 C 1090.142944 213.443787 1081.284546 216.605408 1075.803711 217.870865 C 1069.683838 219.347916 1069.053345 219.559631 1069.053345 221.457947 C 1069.053345 223.777039 1070.107056 223.777039 1073.90332 224.198303 C 1081.496216 224.83078 1081.496216 232.002533 1081.496216 238.327942 L 1081.496216 327.752441 Z"
          ></path>
          <path
            id="path4"
            fill="currentColor"
            fill-rule="evenodd"
            stroke="none"
            d="M 1210.748413 285.569153 C 1214.125366 285.569153 1216.444946 285.569153 1216.444946 281.774536 C 1216.444946 274.602905 1209.69458 251.194153 1177.850464 251.194153 C 1149.167969 251.194153 1125.547485 271.439514 1125.547485 302.654938 C 1125.547485 331.967957 1146.637085 350.319183 1174.477051 350.319183 C 1201.259521 350.319183 1216.021729 331.756226 1216.021729 328.59079 C 1216.021729 327.964172 1215.602417 326.694519 1214.125366 326.694519 C 1212.860107 326.694519 1212.648682 326.906219 1209.48291 330.071655 C 1204.420776 334.922058 1195.77832 338.502899 1186.285522 338.502899 C 1164.560791 338.502899 1148.956299 320.371277 1148.956299 296.746582 C 1148.956299 285.780731 1150.856689 285.569153 1154.441284 285.569153 L 1210.748413 285.569153 Z M 1157.395386 279.032043 C 1152.54126 279.032043 1151.69873 279.032043 1151.69873 276.712952 C 1151.69873 273.337463 1158.237915 256.044159 1177.219604 256.044159 C 1180.381226 256.044159 1194.720459 256.465424 1194.720459 268.908325 C 1194.720459 274.391724 1189.447144 279.032043 1180.381226 279.032043 L 1157.395386 279.032043 Z"
          ></path>
          <path
            id="path5"
            fill="currentColor"
            fill-rule="evenodd"
            stroke="none"
            d="M 1305.206299 258.717896 C 1301.621704 258.717896 1301.621704 258.717896 1296.136719 256.398285 C 1288.124512 252.813751 1282.008667 251.336563 1273.78125 251.336563 C 1248.052979 251.336563 1232.024902 267.7854 1232.024902 284.869019 C 1232.024902 301.316223 1245.310425 308.07077 1253.745483 312.286285 C 1254.168823 312.497864 1255.010742 312.921173 1255.010742 313.547424 C 1255.010742 314.182434 1254.380371 314.605347 1252.060791 315.452087 L 1237.506348 320.513672 C 1234.979248 321.35202 1232.867554 323.044495 1232.867554 326.413757 C 1232.867554 331.26413 1242.567871 339.068237 1244.680054 340.541626 C 1249.530029 343.918762 1249.530029 344.342072 1249.530029 344.976563 C 1249.530029 346.026642 1245.310425 348.134125 1243.833374 348.980347 C 1235.821777 352.984528 1226.751709 357.842926 1226.751709 368.381531 C 1226.751709 385.674957 1251.637817 389.898712 1266.399902 389.898712 C 1300.986694 389.898712 1326.930786 371.758667 1326.930786 351.723267 C 1326.930786 341.387848 1318.07251 329.15625 1291.286255 329.367859 L 1265.346191 329.367859 C 1264.080933 329.367859 1255.434204 329.15625 1255.434204 322.833282 C 1255.434204 315.663696 1268.931274 315.240387 1274.835449 315.028656 C 1304.364258 314.182434 1315.330078 295.204559 1315.330078 284.022919 C 1315.330078 278.961212 1313.430054 273.691589 1311.952881 270.527924 C 1311.745361 270.316589 1311.322144 269.472015 1311.322144 268.630005 C 1311.322144 267.364532 1312.587524 267.152954 1315.118408 267.152954 L 1322.711304 267.152954 C 1325.661255 267.152954 1326.295776 266.943268 1326.295776 264.412476 C 1326.295776 263.989136 1326.084595 258.717896 1322.291992 258.717896 L 1305.206299 258.717896 Z M 1292.763306 282.549957 C 1292.763306 310.601563 1276.523804 310.601563 1274.62793 310.601563 C 1265.134644 310.601563 1254.803223 302.162445 1254.803223 283.388306 C 1254.803223 265.466187 1264.080933 255.975372 1274.20459 255.975372 C 1289.178223 255.975372 1292.763306 274.745331 1292.763306 282.549957 L 1292.763306 282.549957 Z M 1280.950928 347.719086 C 1286.435791 347.719086 1309.00293 347.930817 1309.00293 362.058289 C 1309.00293 379.351593 1286.647461 383.778656 1275.470093 383.778656 C 1258.388306 383.778656 1246.575928 374.712921 1246.575928 363.108337 C 1246.575928 352.984528 1255.010742 346.872864 1258.176636 346.872864 L 1270.196777 347.930817 L 1280.950928 347.719086 Z"
          ></path>
          <path
            id="path6"
            fill="currentColor"
            fill-rule="evenodd"
            stroke="none"
            d="M 1417.579956 285.569153 C 1420.953369 285.569153 1423.272949 285.569153 1423.272949 281.774536 C 1423.272949 274.602905 1416.526245 251.194153 1384.678345 251.194153 C 1355.99585 251.194153 1332.375 271.439514 1332.375 302.654938 C 1332.375 331.967957 1353.464966 350.319183 1381.305054 350.319183 C 1408.087158 350.319183 1422.849609 331.756226 1422.849609 328.59079 C 1422.849609 327.964172 1422.43042 326.694519 1420.953369 326.694519 C 1419.687866 326.694519 1419.476318 326.906219 1416.314453 330.071655 C 1411.25293 334.922058 1402.606323 338.502899 1393.113403 338.502899 C 1371.392944 338.502899 1355.78833 320.371277 1355.78833 296.746582 C 1355.78833 285.780731 1357.684082 285.569153 1361.269165 285.569153 L 1417.579956 285.569153 Z M 1364.223267 279.032043 C 1359.368652 279.032043 1358.526733 279.032043 1358.526733 276.712952 C 1358.526733 273.337463 1365.06543 256.044159 1384.047485 256.044159 C 1387.209229 256.044159 1401.54834 256.465424 1401.54834 268.908325 C 1401.54834 274.391724 1396.278687 279.032043 1387.209229 279.032043 L 1364.223267 279.032043 Z"
          ></path>
          <path
            id="path7"
            fill="currentColor"
            stroke="none"
            d="M 684.187866 27.115784 L 686.299561 118.225006 C 686.511292 128.137115 686.299561 133.410431 676.599182 134.25296 C 670.269958 134.673706 668.37384 134.885437 668.37384 137.837494 C 668.37384 140.368301 670.692871 140.580017 672.169922 140.580017 C 676.387451 140.580017 687.776611 139.737854 698.321716 139.737854 C 706.123779 139.737854 717.301636 140.580017 720.462891 140.580017 C 722.575073 140.580017 725.947876 140.580017 725.947876 137.62796 C 725.947876 135.306702 723.838379 134.464172 719.411255 134.464172 C 710.131653 134.464172 709.70874 131.510437 709.499146 118.436707 L 706.544922 28.804169 C 706.123779 17.626587 706.544922 14.884216 716.457031 14.253784 C 722.363342 13.830475 724.261658 13.830475 724.261658 11.087952 C 724.261658 8.347473 721.309631 8.347473 718.98999 8.347473 C 716.668762 8.347473 710.974182 9.191681 706.335388 9.191681 L 688.830383 8.347473 C 685.453369 8.347473 683.135803 8.768738 680.395447 15.72879 L 646.862854 101.352966 L 611.220398 13.40921 C 609.110413 8.347473 607.423767 8.347473 605.316223 8.347473 C 602.785461 8.347473 598.356262 9.191681 590.763367 9.191681 L 571.148743 8.347473 C 567.987061 8.347473 566.507935 9.401215 566.507935 11.087952 C 566.507935 13.40921 567.775391 14.67453 574.945007 14.884216 C 584.436218 15.095795 584.859192 15.095795 584.859192 25.431213 C 584.859192 53.267059 580.427917 115.482483 580.427917 116.959534 C 580.007141 131.721649 576.843323 132.987488 569.885437 134.043274 C 563.979126 134.885437 561.869202 135.306702 561.869202 137.837494 C 561.869202 140.158737 563.979126 140.580017 565.456238 140.580017 C 568.82959 140.580017 577.052917 139.737854 584.436218 139.737854 C 593.505859 139.737854 600.463745 140.580017 603.417908 140.580017 C 605.737488 140.580017 609.533752 140.580017 609.533752 137.416229 C 609.533752 134.464172 606.15625 134.25296 601.308289 134.25296 C 590.763367 134.043274 588.865051 132.987488 588.865051 99.87796 C 588.865051 78.153381 590.339966 54.111633 591.817078 30.702484 L 633.996704 132.144958 C 635.473755 135.730011 636.739136 137.416229 638.848816 137.416229 C 641.16626 137.416229 642.010437 135.51828 643.908752 130.456177 L 684.187866 27.115784 Z"
          ></path>
          <path
            id="path8"
            fill="currentColor"
            fill-rule="evenodd"
            stroke="none"
            d="M 749.407898 119.278748 C 749.407898 130.879608 749.407898 133.1987 740.336304 134.464172 C 735.69751 135.097015 734.010864 135.939056 734.010864 137.837494 C 734.010864 140.580017 736.120789 140.580017 737.595825 140.580017 C 741.182495 140.580017 750.880859 139.737854 759.741272 139.737854 C 769.439636 139.737854 778.511597 140.580017 781.673401 140.580017 C 783.150452 140.580017 785.257935 140.580017 785.257935 138.04921 C 785.257935 136.150757 784.204163 135.097015 778.932922 134.464172 C 769.86499 133.1987 769.86499 130.667908 769.86499 119.069183 L 769.86499 50.947845 C 769.86499 46.309174 769.86499 43.566681 767.543762 43.566681 C 765.857117 43.566681 759.320007 49.261261 757.842957 50.315002 C 754.256226 52.846313 749.407898 55.588684 739.28418 58.961639 C 736.753296 59.806213 735.909241 60.859955 735.909241 62.337128 C 735.909241 64.86795 739.28418 65.079529 739.917053 65.079529 C 747.507935 65.500793 749.407898 68.45285 749.407898 79.209167 L 749.407898 119.278748 Z M 771.130432 19.525055 C 771.130432 12.986267 766.066711 7.71463 759.527527 7.71463 C 752.569641 7.71463 747.719116 13.40921 747.719116 19.313324 C 747.719116 25.431213 752.78125 30.702484 759.527527 30.702484 C 766.489624 30.702484 771.130432 25.007904 771.130432 19.525055 L 771.130432 19.525055 Z"
          ></path>
          <path
            id="path9"
            fill="currentColor"
            fill-rule="evenodd"
            stroke="none"
            d="M 842.584167 79.209167 C 842.584167 83.005432 842.372437 84.692017 837.310852 86.802063 C 804.834167 99.666229 793.654602 108.733765 793.654602 124.131287 C 793.654602 127.292908 794.710327 141.845352 810.107483 141.845352 C 819.598328 141.845352 830.983276 134.043274 839.841675 126.871643 L 841.318726 126.027069 C 841.949524 126.027069 842.372437 126.027069 844.272949 130.035431 C 846.803711 135.097015 850.807922 141.424591 859.035461 141.424591 C 868.3125 141.424591 881.178711 131.510437 881.178711 126.450378 C 881.178711 125.817505 880.54425 124.552063 879.278748 124.552063 C 878.224609 124.552063 878.013428 124.761597 875.693726 126.659943 C 874.009155 127.925385 871.901672 128.769592 869.577881 128.769592 C 863.673706 128.769592 863.039185 123.498322 863.039185 116.959534 L 863.039185 58.119598 C 863.039185 49.472961 858.188721 42.72464 838.364624 42.72464 C 806.309204 42.72464 793.021729 64.445007 793.021729 71.616272 C 793.021729 74.357117 795.342957 75.834167 797.662537 75.834167 C 797.874146 75.834167 810.107483 74.991638 813.478821 65.500793 C 815.167053 60.650421 819.805847 47.78421 832.037537 47.78421 C 841.949524 47.78421 842.584167 57.907898 842.584167 65.289093 L 842.584167 79.209167 Z M 842.584167 105.993286 C 842.584167 120.755798 834.36084 128.346649 824.871643 128.346649 C 820.229126 128.346649 815.378784 124.552063 815.378784 114.428345 C 815.378784 110.210815 815.378784 102.197052 828.664185 95.869598 C 832.037537 94.181213 837.310852 91.440857 840.264954 91.440857 C 841.318726 91.440857 842.584167 91.652069 842.584167 93.759949 L 842.584167 105.993286 Z"
          ></path>
          <path
            id="path10"
            fill="currentColor"
            stroke="none"
            d="M 1019.224121 118.857483 C 1019.224121 130.879608 1019.224121 133.1987 1010.577454 134.464172 C 1005.938782 135.097015 1004.25 135.939056 1004.25 137.837494 C 1004.25 140.580017 1006.362122 140.580017 1007.839172 140.580017 C 1011.212097 140.580017 1017.539551 139.737854 1029.559082 139.737854 C 1040.525391 139.737854 1047.906738 140.580017 1051.072144 140.580017 C 1052.544922 140.580017 1054.657104 140.580017 1054.657104 138.04921 C 1054.657104 136.150757 1053.603271 135.097015 1048.32959 134.464172 C 1039.682983 133.1987 1039.682983 130.667908 1039.682983 118.857483 L 1039.682983 68.45285 C 1039.682983 61.49295 1037.36377 42.72464 1009.946655 42.72464 C 1002.56543 42.72464 994.76123 45.676575 986.326294 52.634583 C 985.272034 53.47879 980.417969 58.752075 978.944946 58.752075 C 978.102417 58.752075 977.679626 58.329163 974.729614 53.690369 C 967.975037 42.934204 954.905396 42.72464 952.370422 42.72464 C 942.881226 42.72464 935.28833 43.98996 923.476196 56.432892 C 922.210876 57.69632 921.160828 58.752075 920.526184 58.752075 C 919.680115 58.752075 919.680115 58.119598 919.680115 54.532532 L 919.680115 44.199524 C 919.680115 42.301208 919.260864 40.402893 917.360352 40.402893 C 915.887512 40.402893 914.19873 42.512909 912.72168 44.199524 C 906.182922 51.792053 892.685913 57.486633 891.20874 57.907898 C 888.893677 58.540894 888.047485 59.384949 888.047485 60.650421 C 888.047485 63.3909 890.578247 63.3909 893.951233 63.602478 C 900.278809 64.023743 900.278809 68.664581 900.278809 78.576569 L 900.278809 119.069183 C 900.278809 130.879608 900.278809 133.1987 891.20874 134.464172 C 886.570435 135.097015 884.674133 135.939056 884.674133 137.837494 C 884.674133 140.580017 886.993347 140.580017 888.677917 140.580017 C 892.055481 140.580017 900.702087 139.737854 910.402466 139.737854 C 921.160828 139.737854 928.961243 140.580017 931.703735 140.580017 C 933.600037 140.580017 935.711609 140.580017 935.711609 138.04921 C 935.711609 136.150757 934.653809 135.097015 929.384583 134.464172 C 920.737915 133.1987 920.737915 130.667908 920.737915 118.857483 L 920.737915 74.14743 C 920.737915 69.08548 921.368347 65.289093 924.11084 62.337128 C 928.118713 57.907898 932.757507 55.167542 942.246704 55.167542 C 956.80127 55.167542 959.751221 66.977966 959.751221 77.732117 L 959.751221 118.857483 C 959.751221 130.879608 959.751221 133.1987 951.104553 134.464172 C 946.254517 135.097015 944.777466 135.939056 944.777466 137.837494 C 944.777466 140.580017 946.67749 140.580017 948.366211 140.580017 C 951.739563 140.580017 958.48584 139.737854 970.086609 139.737854 C 981.475891 139.737854 988.222046 140.580017 991.599609 140.580017 C 993.072449 140.580017 995.184143 140.580017 995.184143 138.04921 C 995.184143 136.150757 994.130371 135.097015 988.857056 134.464172 C 980.210449 133.1987 980.210449 130.667908 980.210449 118.857483 L 980.210449 73.514587 C 980.210449 69.08548 980.417969 64.656219 983.376282 61.49295 C 985.907043 58.961639 992.018677 54.323364 1001.511719 54.323364 C 1019.224121 54.323364 1019.224121 68.664581 1019.224121 74.78006 L 1019.224121 118.857483 Z"
          ></path>
          <path
            id="path11"
            fill="currentColor"
            fill-rule="evenodd"
            stroke="none"
            d="M 1075.877075 119.278748 C 1075.877075 130.879608 1075.877075 133.1987 1066.811157 134.464172 C 1062.172485 135.097015 1060.483765 135.939056 1060.483765 137.837494 C 1060.483765 140.580017 1062.591675 140.580017 1064.068848 140.580017 C 1067.65332 140.580017 1077.354126 139.737854 1086.212158 139.737854 C 1095.916748 139.737854 1104.982422 140.580017 1108.144165 140.580017 C 1109.621216 140.580017 1111.73291 140.580017 1111.73291 138.04921 C 1111.73291 136.150757 1110.675049 135.097015 1105.405884 134.464172 C 1096.335815 133.1987 1096.335815 130.667908 1096.335815 119.069183 L 1096.335815 50.947845 C 1096.335815 46.309174 1096.335815 43.566681 1094.016724 43.566681 C 1092.328003 43.566681 1085.792847 49.261261 1084.315796 50.315002 C 1080.731323 52.846313 1075.877075 55.588684 1065.75708 58.961639 C 1063.226318 59.806213 1062.380005 60.859955 1062.380005 62.337128 C 1062.380005 64.86795 1065.75708 65.079529 1066.387939 65.079529 C 1073.980835 65.500793 1075.877075 68.45285 1075.877075 79.209167 L 1075.877075 119.278748 Z M 1097.601318 19.525055 C 1097.601318 12.986267 1092.539551 7.71463 1086.004639 7.71463 C 1079.04248 7.71463 1074.192505 13.40921 1074.192505 19.313324 C 1074.192505 25.431213 1079.254272 30.702484 1086.004639 30.702484 C 1092.962402 30.702484 1097.601318 25.007904 1097.601318 19.525055 L 1097.601318 19.525055 Z"
          ></path>
          <path
            id="path12"
            fill="currentColor"
            fill-rule="evenodd"
            stroke="none"
            d="M 1182.037598 119.069183 C 1182.037598 127.715851 1182.037598 133.410431 1171.282959 134.043274 C 1167.067505 134.25296 1163.901733 134.464172 1163.901733 137.62796 C 1163.901733 140.580017 1166.644043 140.580017 1168.117554 140.580017 L 1193.003296 139.737854 L 1231.598022 140.580017 C 1286.647461 140.580017 1302.248291 96.923737 1302.248291 74.357117 C 1302.248291 53.902069 1291.493774 33.654572 1274.200439 21.844116 C 1260.703735 12.565002 1245.517944 8.347473 1218.3125 8.347473 C 1198.700073 8.347473 1163.47876 11.29953 1163.47876 17.203796 C 1163.47876 18.892059 1164.532593 19.525055 1166.432861 19.525055 C 1167.909546 19.525055 1174.025391 17.838318 1175.290894 17.838318 C 1179.510498 17.838318 1182.037598 20.790375 1182.037598 29.437042 L 1182.037598 119.069183 Z M 1204.604126 30.702484 C 1204.604126 18.892059 1205.869629 13.830475 1218.52417 13.830475 C 1263.234497 13.830475 1277.366211 51.580841 1277.366211 75.624634 C 1277.366211 109.366638 1252.47998 135.306702 1224.432495 135.306702 C 1208.188721 135.306702 1204.604126 127.925385 1204.604126 114.428345 L 1204.604126 30.702484 Z"
          ></path>
          <path
            id="path13"
            fill="currentColor"
            fill-rule="evenodd"
            stroke="none"
            d="M 1366.521973 79.209167 C 1366.521973 83.005432 1366.310791 84.692017 1361.25293 86.802063 C 1328.77002 99.666229 1317.596802 108.733765 1317.596802 124.131287 C 1317.596802 127.292908 1318.64624 141.845352 1334.043335 141.845352 C 1343.532471 141.845352 1354.921631 134.043274 1363.779541 126.871643 L 1365.256714 126.027069 C 1365.891724 126.027069 1366.310791 126.027069 1368.210815 130.035431 C 1370.741577 135.097015 1374.74585 141.424591 1382.973267 141.424591 C 1392.254639 141.424591 1405.116577 131.510437 1405.116577 126.450378 C 1405.116577 125.817505 1404.482056 124.552063 1403.216675 124.552063 C 1402.166748 124.552063 1401.951294 124.761597 1399.635742 126.659943 C 1397.947144 127.925385 1395.835449 128.769592 1393.516235 128.769592 C 1387.612061 128.769592 1386.981323 123.498322 1386.981323 116.959534 L 1386.981323 58.119598 C 1386.981323 49.472961 1382.127075 42.72464 1362.30249 42.72464 C 1330.251221 42.72464 1316.96167 64.445007 1316.96167 71.616272 C 1316.96167 74.357117 1319.28125 75.834167 1321.604614 75.834167 C 1321.812134 75.834167 1334.043335 74.991638 1337.420898 65.500793 C 1339.105469 60.650421 1343.743652 47.78421 1355.979614 47.78421 C 1365.891724 47.78421 1366.521973 57.907898 1366.521973 65.289093 L 1366.521973 79.209167 Z M 1366.521973 105.993286 C 1366.521973 120.755798 1358.294678 128.346649 1348.805786 128.346649 C 1344.166992 128.346649 1339.31665 124.552063 1339.31665 114.428345 C 1339.31665 110.210815 1339.31665 102.197052 1352.606323 95.869598 C 1355.979614 94.181213 1361.25293 91.440857 1364.203003 91.440857 C 1365.256714 91.440857 1366.521973 91.652069 1366.521973 93.759949 L 1366.521973 105.993286 Z"
          ></path>
          <path
            id="path14"
            fill="currentColor"
            fill-rule="evenodd"
            stroke="none"
            d="M 1506.044556 23.742462 L 1506.886597 3.497101 C 1506.886597 2.652893 1506.886597 -0.510895 1504.355835 -0.510895 C 1503.302124 -0.510895 1502.036621 0.122101 1501.829102 0.333313 C 1490.439941 6.027893 1482.212524 7.71463 1477.7854 8.559204 C 1477.150391 8.768738 1473.98877 9.610779 1473.98877 11.932007 C 1473.98877 13.830475 1476.731201 14.253784 1477.7854 14.462952 C 1484.531616 14.884216 1485.5896 16.784576 1485.5896 23.109589 L 1485.5896 45.464996 C 1485.5896 46.309174 1484.955078 47.153748 1484.112549 47.153748 L 1481.581665 46.309174 C 1477.996582 44.620422 1470.404175 42.72464 1463.653809 42.72464 C 1439.821167 42.72464 1412.619995 61.915863 1412.619995 94.604126 C 1412.619995 122.865845 1433.286621 141.845352 1457.118652 141.845352 C 1469.138794 141.845352 1476.308228 136.572052 1482.005005 131.93338 C 1482.847046 131.300903 1484.112549 130.456177 1484.955078 130.456177 C 1486.432129 130.456177 1486.85498 132.354645 1486.85498 133.619965 C 1487.48584 141.424591 1488.751343 141.845352 1490.439941 141.845352 C 1491.917114 141.845352 1502.671265 137.416229 1504.779175 136.572052 C 1518.699219 131.93338 1519.122559 131.721649 1519.122559 126.2388 C 1519.122559 125.606171 1519.122559 123.707855 1517.857056 123.707855 C 1516.168335 123.707855 1510.683228 129.190857 1509.210449 129.190857 C 1507.521729 129.190857 1506.044556 127.925385 1506.044556 121.80954 L 1506.044556 23.742462 Z M 1486.432129 118.013275 C 1486.432129 121.80954 1486.432129 130.035431 1468.719604 130.035431 C 1447.837524 130.035431 1434.971191 112.109161 1434.971191 88.277069 C 1434.971191 60.650421 1450.580078 47.153748 1465.130859 47.153748 C 1486.432129 47.153748 1486.432129 66.13327 1486.432129 75.624634 L 1486.432129 118.013275 Z"
          ></path>
          <path
            id="path15"
            fill="currentColor"
            fill-rule="evenodd"
            stroke="none"
            d="M 1613.682129 77.09964 C 1617.05542 77.09964 1619.374512 77.09964 1619.374512 73.302856 C 1619.374512 66.13327 1612.624146 42.72464 1580.78418 42.72464 C 1552.097534 42.72464 1528.477051 62.970001 1528.477051 94.181213 C 1528.477051 123.498322 1549.56665 141.845352 1577.406616 141.845352 C 1604.189087 141.845352 1618.951172 123.286713 1618.951172 120.122925 C 1618.951172 119.490448 1618.532471 118.225006 1617.05542 118.225006 C 1615.790039 118.225006 1615.578247 118.436707 1612.416626 121.598328 C 1607.354492 126.450378 1598.708252 130.035431 1589.215088 130.035431 C 1567.494507 130.035431 1551.885742 111.89743 1551.885742 88.277069 C 1551.885742 77.310852 1553.786255 77.09964 1557.371216 77.09964 L 1613.682129 77.09964 Z M 1560.324951 70.562531 C 1555.474976 70.562531 1554.628296 70.562531 1554.628296 68.241272 C 1554.628296 64.86795 1561.167603 47.574524 1580.14917 47.574524 C 1583.310791 47.574524 1597.654175 47.995789 1597.654175 60.43869 C 1597.654175 65.921692 1592.380859 70.562531 1583.310791 70.562531 L 1560.324951 70.562531 Z"
          ></path>
        </g>
        <g id="g1">
          <path
            id="path16"
            fill="currentColor"
            stroke="none"
            d="M 178.968491 348.091278 L 4e-06 348.091278 L 4e-06 8.251984 L 178.968491 348.091278 Z"
          ></path>
          <path
            id="path17"
            fill="currentColor"
            stroke="none"
            d="M 357.936981 8.319489 L 178.968491 8.319489 L 178.968491 348.158661 L 357.936981 8.319489 Z"
          ></path>
          <path
            id="path18"
            fill="currentColor"
            stroke="none"
            d="M 357.936981 8.319489 L 178.968491 8.319489 L 178.968491 348.158661 L 357.936981 8.319489 Z"
          ></path>
          <path
            id="path19"
            fill="currentColor"
            stroke="none"
            d="M 357.936981 8.311096 L 357.936981 347.604004 C 451.630096 347.604004 527.583496 271.650848 527.583496 177.957687 C 527.583496 84.264404 451.630096 8.311096 357.936981 8.311096 Z"
          ></path>
        </g>
      </g>
    </svg>
  </a>
</section>

<!-- <h3 class="text-center my-10 font-semibold">Gold</h3>
<section class="w-10/12 mx-auto grid grid-cols-1 lg:grid-cols-1">
  <a href="https://blackorlandotech.org/" target="_blank"
    ><img src={Bot.src} alt="Black Orlando Tech Logo" class="object-contain h-56 w-full px-2" />
  </a>
</section>

<h3 class="text-center my-10 font-semibold">Copper</h3>
<section class="w-10/12 mx-auto grid grid-cols-1 lg:grid-cols-1">
  <a href="https://www.datapsy.com/" target="_blank"
    ><img src={DataPsy.src} alt="Data Psy Logo" class="object-contain h-32 w-full px-2" /></a
  >
</section>

<h3 class="text-center my-10 font-semibold">Supporters</h3>
<section class="w-10/12 mx-auto grid grid-cols-1 lg:grid-cols-2">
  <a href="https://www.kodeco.com/" target="_blank">
    <img src={Kodeco.src} alt="Kodeco Logo" class="object-contain h-20 w-1/2 md:w-full px-2 mx-auto" />
  </a>
  <a href="https://www.jetbrains.com/" target="_blank">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="298"
      height="64"
      fill="none"
      viewBox="0 0 298 64"
      class="object-contain h-20 w-1/2 md:w-full px-2 mx-auto"
    >
      <defs>
        <linearGradient id="a" x1=".850001" x2="62.62" y1="62.72" y2="1.81" gradientUnits="userSpaceOnUse">
          <stop stop-color="#FF9419"></stop>
          <stop offset=".43" stop-color="#FF021D"></stop>
          <stop offset=".99" stop-color="#E600FF"></stop>
        </linearGradient>
      </defs>
      <path
        fill="currentColor"
        d="M86.4844 40.5858c0 .8464-.1792 1.5933-.5377 2.2505-.3585.6573-.8564 1.1651-1.5137 1.5236-.6572.3585-1.3941.5378-2.2406.5378H78v6.1044h5.0787c1.912 0 3.6248-.4282 5.1484-1.2846 1.5236-.8564 2.7186-2.0415 3.585-3.5452.8663-1.5037 1.3045-3.1966 1.3045-5.0886V21.0178h-6.6322v19.568Zm17.8556-1.8224h13.891v-5.6065H104.34v-6.3633h15.355v-5.7758H97.8766v29.9743h22.2464v-5.7757H104.34v-6.453Zm17.865-11.8005h8.882v24.0193h6.633V26.9629h8.842v-5.9451h-24.367v5.9551l.01-.01Zm47.022 9.0022c-.517-.2788-1.085-.4879-1.673-.6472.449-.1295.877-.2888 1.275-.488 1.096-.5676 1.962-1.3643 2.579-2.39.618-1.0257.936-2.2007.936-3.5351 0-1.5237-.418-2.8879-1.244-4.0929-.827-1.195-1.992-2.131-3.486-2.8082-1.494-.6672-3.206-1.0058-5.118-1.0058h-13.315v29.9743h13.574c2.011 0 3.804-.3485 5.387-1.0556 1.573-.707 2.798-1.6829 3.675-2.9476.866-1.2547 1.304-2.6887 1.304-4.302 0-1.4837-.338-2.8082-1.026-3.9833-.687-1.175-1.633-2.0812-2.858-2.7285l-.01.0099Zm-13.603-9.9184h5.886c.816 0 1.533.1494 2.161.4382.627.2888 1.115.707 1.464 1.2547.348.5378.527 1.1751.527 1.9021 0 .7269-.179 1.414-.527 1.9817-.349.5676-.837.9958-1.464 1.3045-.628.3087-1.345.4581-2.161.4581h-5.886v-7.3492.0099Zm10.138 18.134c-.378.5676-.916 1.0058-1.603 1.3145-.697.3087-1.484.4581-2.39.4581h-6.145v-7.6878h6.145c.886 0 1.673.1693 2.37.4979.687.3286 1.235.7867 1.613 1.3842.378.5975.578 1.2747.578 2.0414 0 .7668-.19 1.4241-.568 1.9917Zm29.596-5.3077c1.663-.7967 2.947-1.922 3.864-3.3659.916-1.444 1.374-3.117 1.374-5.0289 0-1.912-.448-3.5253-1.344-4.9592-.897-1.434-2.171-2.5394-3.814-3.3261-1.644-.7867-3.546-1.1751-5.717-1.1751h-13.124v29.9743h6.642V40.0779h4.322l6.084 10.9142h7.578l-6.851-11.7208c.339-.1195.677-.249.996-.3983h-.01Zm-2.151-6.1244c-.369.6274-.896 1.1154-1.583 1.444-.688.3386-1.494.5079-2.42.5079h-5.975v-8.2953h5.975c.926 0 1.732.1693 2.42.4979.687.3287 1.214.8166 1.583 1.434.368.6174.558 1.3544.558 2.1908 0 .8365-.19 1.5734-.558 2.2008v.0199Zm20.594-11.7308-10.706 29.9743h6.742l2.121-6.6122h11.114l2.27 6.6122h6.612L220.99 21.0178h-7.189Zm-.339 18.3431 3.445-10.5756.409-1.922.408 1.922 3.685 10.5756h-7.947Zm20.693 11.6312h6.851V21.0178h-6.851v29.9743Zm31.02-9.6993-12.896-20.275h-6.463v29.9743h6.055V30.7172l12.826 20.2749h6.533V21.0178h-6.055v20.275Zm31.528-3.3559c-.647-1.2448-1.564-2.2904-2.729-3.1369-1.165-.8464-2.509-1.4041-4.023-1.6929l-5.098-1.0456c-.797-.1892-1.434-.5178-1.902-.9958-.469-.478-.708-1.0755-.708-1.7825 0-.6473.17-1.205.518-1.683.339-.478.827-.8464 1.444-1.1153.618-.2689 1.335-.3983 2.151-.3983.817 0 1.554.1394 2.181.4182.627.2788 1.115.6672 1.464 1.1751s.528 1.0755.528 1.7228h6.642c-.04-1.7427-.528-3.2863-1.444-4.6207-.916-1.3443-2.201-2.3899-3.834-3.1468-1.633-.7568-3.505-1.1352-5.597-1.1352-2.091 0-3.943.3884-5.566 1.1751-1.623.7867-2.898 1.8721-3.804 3.2663-.906 1.3941-1.364 2.9775-1.364 4.76 0 1.444.288 2.7485.876 3.9036.587 1.1652 1.414 2.1311 2.479 2.8979 1.076.7668 2.311 1.3045 3.725 1.6033l5.397 1.1153c.886.2091 1.584.5975 2.101 1.1551.518.5577.767 1.2448.767 2.0813 0 .6672-.189 1.2747-.567 1.8025-.379.5277-.907.936-1.584 1.2248-.677.2888-1.474.4282-2.39.4282-.916 0-1.782-.1593-2.529-.478-.747-.3186-1.325-.7767-1.733-1.3742-.418-.5875-.617-1.2747-.617-2.0414h-6.642c.029 1.8721.527 3.5152 1.513 4.9492.976 1.424 2.32 2.5394 4.033 3.336 1.713.7967 3.675 1.195 5.886 1.195 2.21 0 4.202-.4083 5.915-1.2249 1.723-.8165 3.057-1.9418 4.023-3.3758.966-1.434 1.444-3.0572 1.444-4.8696 0-1.4838-.329-2.848-.976-4.1028l.02.01Z"
      ></path>
      <path
        fill="url(#a)"
        d="M20.34 3.66 3.66 20.34C1.32 22.68 0 25.86 0 29.18V59c0 2.76 2.24 5 5 5h29.82c3.32 0 6.49-1.32 8.84-3.66l16.68-16.68c2.34-2.34 3.66-5.52 3.66-8.84V5c0-2.76-2.24-5-5-5H29.18c-3.32 0-6.49 1.32-8.84 3.66Z"
      ></path>
      <path fill="#000" d="M48 16H8v40h40V16Z"></path>
      <path fill="#fff" d="M30 47H13v4h17v-4Z"></path>
    </svg>
  </a>
</section> -->

<section class="w-10/12 mx-auto mt-10">
  <iframe
    src="https://docs.google.com/presentation/d/e/2PACX-1vSLWOK5QCBkvoNcfB0K5fSPxPW6QHRpyYurCvBiizMBzb1VATghaDX0ZZ9IsJSmBuRb_tlOdBHUL8OS/embed?start=true&loop=true&delayms=5000"
    allowfullscreen="true"
    class="mx-auto w-full aspect-video rounded-3xl border-solid border-4 border-black dark:border-white"
  ></iframe>
  <h2 class="text-center my-10">Why Sponsor DevFest Miami?</h2>
  <ul>
    <li class="my-10 text-lg">
      <span class="font-semibold">Technical Recruiting:</span> DevFest Miami is a
      great opportunity to meet emerging talent in the Miami tech industry.
    </li>
    <li class="my-10 text-lg">
      <span class="font-semibold">Brand Recognition/Product Exposure:</span> Expand
      your brand presence and expose attendees, partners, and press to your company,
      product, or API.
    </li>
    <li class="my-10 text-lg">
      <span class="font-semibold">Support the Miami Tech Community:</span> We are
      excited to be a part of the growing tech community in Miami. Join us!
    </li>
  </ul>
  <Button
    text="Become a Sponsor"
    variant="primary"
    target="_blank"
    icon="tabler:mail"
    href="mailto:organizers@devfestflorida.com"
  />
  <Button
    text="Download Sponsor Packages"
    variant="primary"
    target="_blank"
    icon="tabler:square-rounded-arrow-down"
    href="/devfestflorida-partnership-july-1-2024-v2.pdf"
  />
</section>
