---
import VenueImage from "../../assets/images/miami-wolfson.png";
---

<section class="w-8/12 mx-auto">
  <div>
    <a
      href="https://clients.mapsindoors.com/miamidadecollege/745184cc2eac4e19854bbabd/details/b81b6619207f468897c94f07"
      target={"_blank"}
      rel="noreferrer"
    >
      <img
        src={VenueImage.src}
        class="rounded-3xl border-solid border-4 border-black dark:border-white"
        alt="Miami Dade College - Wolfson Campus"
      /></a
    >
    <p>
      We're excited to announce that DevFest Miami will take place at<span
        class="font-semibold"
      >
        Miami Dade College - Wolfson Campus
      </span>
    </p>

    <p class="text-lg">
      Miami Dade College - Wolfson Campus
      <br />
      Building 1
      <br />
      300 NE 2nd Ave
      <br />
      Miami, FL 33132
    </p>

    <p>
      Special thanks to <a href="https://www.mdc.edu" target="_blank">
        <span class="font-semibold"> Miami Dade College </span>
      </a>
      for sponsoring DevFest Miami on campus.
    </p>
  </div>
</section>
