---
import VenueImage from '../../assets/images/miami-ai-center-1.jpg';
import Venue from '../../assets/images/miami-dade-college-north-campus.jpg';
---

<section class="w-10/12 mx-auto grid grid-cols-1 lg:grid-cols-2 gap-4">
  <div>
    <a
      href="https://clients.mapsindoors.com/miamidadecollege/cd5ee2abc27c4ea8876a331a/details/b75341c95c874e4f8ca8959b"
      target={'_blank'}
      rel="noreferrer"
    >
      <img
        src={VenueImage.src}
        class="rounded-3xl border-solid border-4 border-black dark:border-white"
        alt="AI Center at Miami Dade College - North Campus"
      /></a
    >
    <p>
      We're excited to announce that DevFest Miami will take place at<span class="font-semibold">
        AI Center at Miami Dade College - North Campus
      </span>
    </p>
  </div>
  <div>
    <a
      href="https://clients.mapsindoors.com/miamidadecollege/cd5ee2abc27c4ea8876a331a/details/b75341c95c874e4f8ca8959b"
      target={'_blank'}
      rel="noreferrer"
    >
      <img
        src={Venue.src}
        class="rounded-3xl border-solid border-4 border-black dark:border-white"
        alt="Building 1 at Miami Dade College - North Campus"
      />

      <p class="text-lg">
        AI Center at Miami Dade College - North Campus
        <br />
        Building 1
        <br />
        11380 Northwest 27th Avenue
        <br />
        Miami, FL 33167
      </p>
    </a>

    <p>
      Special thanks to <a href="https://www.mdc.edu" target="_blank">
        <span class="font-semibold"> Miami Dade College </span>
      </a>
      for sponsoring DevFest Miami on campus.
    </p>
  </div>
</section>
