---
import Button from '~/components/ui/Button.astro';
---

<section class="w-10/12 mx-auto">
  <p class="text-center">Thank you to our sponsors for their generous support.</p>
</section>

<h3 class="text-center my-10 font-semibold">Partners</h3>
<section class="w-10/12 mx-auto grid grid-cols-1 lg:grid-cols-2">
  <a href="https://developers.google.com/" target="_blank">
    <!-- <img src={GoogleLogo.src} alt="Google Logo" class="object-contain h-56 w-3/4 md:w-full px-16 mx-auto" /> -->

    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 300 100"
      width="272"
      height="92"
      class="object-contain h-56 w-3/4 md:w-full px-16 mx-auto bg-white dark:bg-transparent rounded-3xl"
      ><path
        fill="#EA4335"
        d="M115.75 47.18c0 12.77-9.99 22.18-22.25 22.18s-22.25-9.41-22.25-22.18C71.25 34.32 81.24 25 93.5 25s22.25 9.32 22.25 22.18zm-9.74 0c0-7.98-5.79-13.44-12.51-13.44S80.99 39.2 80.99 47.18c0 7.9 5.79 13.44 12.51 13.44s12.51-5.55 12.51-13.44z"
      ></path><path
        fill="#FBBC05"
        d="M163.75 47.18c0 12.77-9.99 22.18-22.25 22.18s-22.25-9.41-22.25-22.18c0-12.85 9.99-22.18 22.25-22.18s22.25 9.32 22.25 22.18zm-9.74 0c0-7.98-5.79-13.44-12.51-13.44s-12.51 5.46-12.51 13.44c0 7.9 5.79 13.44 12.51 13.44s12.51-5.55 12.51-13.44z"
      ></path><path
        fill="#4285F4"
        d="M209.75 26.34v39.82c0 16.38-9.66 23.07-21.08 23.07-10.75 0-17.22-7.19-19.66-13.07l8.48-3.53c1.51 3.61 5.21 7.87 11.17 7.87 7.31 0 11.84-4.51 11.84-13v-3.19h-.34c-2.18 2.69-6.38 5.04-11.68 5.04-11.09 0-21.25-9.66-21.25-22.09 0-12.52 10.16-22.26 21.25-22.26 5.29 0 9.49 2.35 11.68 4.96h.34v-3.61h9.25zm-8.56 20.92c0-7.81-5.21-13.52-11.84-13.52-6.72 0-12.35 5.71-12.35 13.52 0 7.73 5.63 13.36 12.35 13.36 6.63 0 11.84-5.63 11.84-13.36z"
      ></path><path fill="#34A853" d="M225 3v65h-9.5V3h9.5z"></path><path
        fill="#EA4335"
        d="M262.02 54.48l7.56 5.04c-2.44 3.61-8.32 9.83-18.48 9.83-12.6 0-22.01-9.74-22.01-22.18 0-13.19 9.49-22.18 20.92-22.18 11.51 0 17.14 9.16 18.98 14.11l1.01 2.52-29.65 12.28c2.27 4.45 5.8 6.72 10.75 6.72 4.96 0 8.4-2.44 10.92-6.14zm-23.27-7.98l19.82-8.23c-1.09-2.77-4.37-4.7-8.23-4.7-4.95 0-11.84 4.37-11.59 12.93z"
      ></path><path
        fill="#4285F4"
        d="M35.29 41.41V32H67c.31 1.64.47 3.58.47 5.68 0 7.06-1.93 15.79-8.15 22.01-6.05 6.3-13.78 9.66-24.02 9.66C16.32 69.35.36 53.89.36 34.91.36 15.93 16.32.47 35.3.47c10.5 0 17.98 4.12 23.6 9.49l-6.64 6.64c-4.03-3.78-9.49-6.72-16.97-6.72-13.86 0-24.7 11.17-24.7 25.03 0 13.86 10.84 25.03 24.7 25.03 8.99 0 14.11-3.61 17.39-6.89 2.66-2.66 4.41-6.46 5.1-11.65l-22.49.01z"
      ></path></svg
    >
  </a>
  <a href="https://www.usf.edu/" target="_blank">
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0"
      y="0"
      width="650"
      height="200"
      viewBox="0, 0, 650, 200"
      class="object-contain h-56 w-3/4 md:w-full px-16 mx-auto dark:bg-white bg-transparent rounded-3xl"
    >
      <g id="Layer_1">
        <path
          d="M132.2,59.8 C132.2,57.6 134.2,50.9 134.2,50.9 C134.2,50.9 121.8,58.2 121.8,66.5 C121.8,72.3 125.5,75.8 125.5,77.2 C125.5,78.9 118,82.4 95.5,82.4 L79.1,109.6 L73.5,113.2 L66.7,126 L54,126 L61.7,113.4 L59.8,109.5 L78.4,81.6 C49.3,81.6 45.5,78.1 45.5,77.5 C45.5,75.9 58.1,70.1 58.1,60.3 C58.1,55.8 53.6,50.3 53.6,50.3 C51.5,69.3 22.8,64.8 22.8,86.3 C22.8,95.1 33.5,98.9 44.1,99.7 L40.5,105.1 C39.1,107.1 40.2,109.4 41.9,112.8 L34.8,124.2 C34.8,124.2 31.5,126.6 30.8,127.9 C29.3,130.8 32.4,135.2 37.3,143.2 L72,143.2 C83.7,136.6 88.5,133.9 88.5,131.1 L88.3,128.2 L95,116.5 C96.7,115.7 101,113.5 102.8,110.6 L108.9,100.7 C126.3,100.4 144.6,93.4 144.6,78.4 C144.7,68.5 132.2,67.2 132.2,59.8 M107.7,98.6 L101,109.6 C99.2,112.6 93.5,114.9 93.5,114.9 L86.1,127.8 L86.3,131.1 C86.4,132.9 74.9,139 71.4,141.1 L38.6,141.1 C37.4,139.1 31.8,131.1 32.8,129 C33.2,128.2 34.8,127.1 36.5,125.7 L44.5,112.9 C42.8,109.5 41.7,107.4 42.4,106.3 L48.2,97.6 C41.6,97.6 25,96 25,86.3 C25,68.4 50.3,69.3 54.4,55.5 C55.3,56.9 55.8,58.6 55.9,60.2 C55.9,69.4 43.2,73.6 43.2,77.3 C43.2,82.5 60.8,83.7 74.1,83.7 L57.1,109.2 L59,113.2 L50,128.2 L68,128.2 L75.2,114.7 L80.8,111.1 L96.7,84.6 C118.4,84.6 127.6,81.1 127.6,77.2 C127.6,74.6 123.9,71.9 123.9,66.5 C123.9,61.1 130.3,56.4 130.3,56.4 C127,68.7 142.4,68.7 142.4,78.5 C142.5,92.4 124,98.6 107.7,98.6"
          fill="#FFFFFF"></path>
        <path
          d="M134.8,59.8 C134.8,55.9 138.7,44.3 138.7,44.3 C138.7,44.3 119.1,55.2 119.1,66.5 C119.1,72 122.2,76.5 122.2,76.5 C116.4,79.2 105,79.7 93.9,79.7 L77.1,107.6 L71.4,111.2 L65,123.2 L58.7,123.2 L64.7,113.5 L62.9,109.6 L83.4,79 C60.1,79 55.3,78.3 50.1,76.9 C50.1,76.9 60.9,70 60.9,60.4 C60.9,54 52.8,44.2 52.8,44.2 L49.8,54.3 C46.6,65.2 20.2,65.1 20.2,86.5 C20.2,95.9 29.1,100.5 39.5,102 L38.3,103.7 C36.3,106.6 37.4,109.6 38.9,112.7 L32.8,122.5 C32.8,122.5 29.5,124.8 28.4,126.8 C26.3,130.9 29,135.2 35.7,145.9 L72.8,145.9 C87.3,137.7 91.1,135.5 91.1,130.9 C91.1,130.9 91,129.9 91,129 L96.9,118.8 C99.2,117.7 103.2,115.4 105.1,112.2 L110.4,103.5 C128.6,102.8 147.3,94.9 147.3,78.6 C147.4,67.5 134.8,64.7 134.8,59.8 M109,100.8 L102.9,110.7 C101.1,113.6 96.8,115.8 95.1,116.6 L88.4,128.3 L88.6,131.2 C88.6,133.9 83.8,136.7 72.1,143.3 L37.4,143.3 C32.5,135.3 29.4,130.9 30.9,128 C31.6,126.6 34.9,124.3 34.9,124.3 L42,112.8 C40.3,109.4 39.2,107.1 40.6,105.1 L44.2,99.7 C33.6,99 22.8,95.2 22.8,86.4 C22.8,64.8 51.5,69.4 53.7,50.4 C53.7,50.4 58.2,55.8 58.2,60.4 C58.2,70.2 45.5,75.9 45.5,77.6 C45.5,78.2 49.3,81.7 78.4,81.7 L59.8,109.6 L61.7,113.5 L54,126 L66.7,126 L73.5,113.2 L79.1,109.6 L95.4,82.4 C117.9,82.4 125.4,78.9 125.4,77.2 C125.4,75.8 121.7,72.3 121.7,66.5 C121.7,58.2 134.1,50.9 134.1,50.9 C134.1,50.9 132.1,57.6 132.1,59.8 C132.1,67.2 144.7,68.5 144.7,78.5 C144.7,93.5 126.4,100.5 109,100.8"
          fill="#CFC493"></path>
        <path
          d="M130.4,56.5 C130.4,56.5 124,61.2 124,66.6 C124,72 127.7,74.7 127.7,77.3 C127.7,81.2 118.4,84.7 96.8,84.7 L80.8,111.2 L75.3,114.8 L68,128.2 L50,128.2 L59.2,113.3 L57.3,109.3 L74.3,83.8 C61,83.8 43.4,82.7 43.4,77.4 C43.4,73.7 56.1,69.4 56.1,60.3 C56,58.6 55.5,57 54.6,55.6 C50.5,69.3 25.2,68.5 25.2,86.4 C25.2,96.1 41.8,97.7 48.4,97.7 L42.6,106.4 C41.8,107.5 43,109.6 44.7,113 L36.7,125.8 C35,127.2 33.4,128.3 33,129.1 C32,131.1 37.6,139.1 38.8,141.2 L71.6,141.2 C75.1,139.2 86.6,133.1 86.5,131.2 L86.3,127.9 L93.7,115 C93.7,115 99.4,112.7 101.2,109.7 L108,98.7 C124.3,98.7 142.7,92.5 142.7,78.6 C142.5,68.8 127.1,68.8 130.4,56.5"
          fill="#006747"></path>
        <path
          d="M86.4,140.6 C85.8,140.6 85.2,140.8 84.7,141.3 C84.3,141.7 84,142.4 84,143 C84,143.6 84.2,144.2 84.7,144.7 C85.6,145.6 87.1,145.7 88.1,144.7 C88.1,144.7 88.1,144.7 88.1,144.7 C89,143.8 89,142.3 88.1,141.3 C87.7,140.9 87.1,140.6 86.4,140.6 M87.9,144.4 C87.1,145.2 85.8,145.2 85,144.4 C85,144.4 85,144.4 85,144.4 C84.2,143.6 84.2,142.3 85,141.5 C85.8,140.7 87.1,140.7 87.9,141.5 C87.9,141.5 87.9,141.5 87.9,141.5 C88.7,142.3 88.7,143.6 87.9,144.4"
          fill="#CFC493"></path>
        <path
          d="M87.5,142.4 C87.5,142.1 87.4,141.8 87.1,141.7 C86.9,141.6 86.6,141.6 86.4,141.6 L85.5,141.6 L85.5,144.2 L86,144.2 L86,143.2 L86.4,143.2 C86.6,143.2 86.8,143.2 86.9,143.3 C87.1,143.4 87.2,143.7 87.1,143.9 L87.1,144.1 L87.1,144.2 L87.1,144.2 L87.1,144.2 L87.5,144.2 L87.5,144.2 C87.5,144.2 87.5,144.1 87.5,144.1 C87.5,144 87.5,144 87.5,143.9 L87.5,143.7 C87.5,143.6 87.4,143.4 87.4,143.3 C87.3,143.2 87.1,143.1 87,143 C87.1,143 87.3,142.9 87.4,142.9 C87.4,142.8 87.5,142.6 87.5,142.4 M86.8,142.8 C86.7,142.8 86.5,142.9 86.4,142.9 L86,142.9 L86,142 L86.4,142 C86.6,142 86.8,142 87,142.1 C87.2,142.3 87.2,142.6 87.1,142.8 C86.9,142.8 86.9,142.8 86.8,142.8"
          fill="#CFC493"></path>
        <path
          d="M181.8,56.2 L181.8,70.9 C181.8,72.9 182.7,74 184.6,74 C186.5,74 187.4,72.9 187.4,70.9 L187.4,56.2 L191.4,56.2 L191.4,70.9 C191.4,75.5 188.7,77.5 184.5,77.5 C180.3,77.5 177.7,75.6 177.7,70.9 L177.7,56.2 L181.8,56.2 z M199.9,77.2 L199.9,56.2 L204.3,56.2 L209.9,68.6 L210,68.6 L210,56.2 L213.7,56.2 L213.7,77.2 L209.9,77.2 L203.8,63.6 L203.7,63.6 L203.7,77.2 L199.9,77.2 z M222,77.2 L222,56.2 L226,56.2 L226,77.2 L222,77.2 z M232.9,56.2 L236.9,56.2 L240.6,71.2 L240.7,71.2 L244.4,56.2 L248.3,56.2 L242.9,77.2 L238.3,77.2 L232.9,56.2 z M254.8,77.2 L254.8,56.2 L265.8,56.2 L265.8,59.7 L258.8,59.7 L258.8,64.5 L264.1,64.5 L264.1,68 L258.8,68 L258.8,73.5 L266.1,73.5 L266.1,77 L254.8,77.2 z M283.1,77.2 L279.6,68.6 L277.7,68.6 L277.7,77.2 L273.7,77.2 L273.7,56.2 L279.5,56.2 C284.3,56.2 286.6,58.5 286.6,62.5 C286.6,65.1 285.7,67 283.4,67.9 L287.4,77.3 L283.1,77.2 z M277.7,65.4 L279.7,65.4 C281.5,65.4 282.6,64.5 282.6,62.5 C282.6,60.5 281.5,59.6 279.7,59.6 L277.7,59.6 L277.7,65.4 z M303.1,62.1 C302.4,60.1 301.6,59.3 300.2,59.3 C298.8,59.3 298,60.2 298,61.6 C298,64.8 307,65 307,71.6 C307,75.2 304.5,77.6 300.3,77.6 C297,77.6 294.5,75.8 293.4,71.7 L297.4,70.9 C297.9,73.4 299.3,74.3 300.5,74.3 C301.8,74.4 302.9,73.4 303,72.1 C303,72 303,71.9 303,71.8 C303,67.8 294,67.8 294,61.9 C294,58.3 296.2,56 300.3,56 C303.4,55.8 306.2,58 306.8,61.1 L303.1,62.1 z M315,77.2 L315,56.2 L319,56.2 L319,77.2 L315,77.2 z M339.3,56.2 L339.3,59.7 L334.6,59.7 L334.6,77.2 L330.6,77.2 L330.6,59.7 L326,59.7 L326,56.2 L339.3,56.2 z M352.4,64.7 L355.8,56.2 L360.1,56.2 L354.4,68.7 L354.4,77.2 L350.4,77.2 L350.4,68.7 L344.7,56.2 L349,56.2 L352.4,64.7 z M374.8,77.5 C370.8,77.5 368.8,74.1 368.8,69.9 C368.8,65.7 370.8,62.3 374.8,62.3 C378.8,62.3 380.8,65.7 380.8,69.9 C380.8,74.1 378.8,77.5 374.8,77.5 z M374.8,64 C372.4,64 370.8,66.1 370.8,69.9 C370.8,73.7 372.4,75.8 374.8,75.8 C377.2,75.8 378.8,73.7 378.8,69.9 C378.8,66.1 377.2,64 374.8,64 z M387.2,77.2 L387.2,64.3 L384.7,64.3 L384.7,62.5 L387.2,62.5 L387.2,60.8 C387.2,57.3 388.4,56.5 390.8,56.5 C391.4,56.5 392,56.6 392.6,56.6 L392.6,58.4 C392.1,58.3 391.6,58.2 391.1,58.2 C389.7,58.2 389.2,58.7 389.2,60.3 L389.2,62.5 L392.4,62.5 L392.4,64.3 L389.2,64.3 L389.2,77.2 L387.2,77.2 z M196.3,104.4 C194.7,99.7 192.6,97.7 189.3,97.7 C186,97.7 184,99.8 184,103.1 C184,110.6 205.3,111.2 205.3,126.8 C205.3,135.4 199.4,141 189.4,141 C181.7,141 175.6,136.8 173.1,127 L182.5,125 C183.6,131 187.1,133.1 189.9,133.1 C193.2,133.1 195.8,130.9 195.8,127.2 C195.8,117.8 174.5,117.7 174.5,103.7 C174.5,95.1 179.6,89.7 189.5,89.7 C198,89.7 203.2,94.7 204.8,101.8 L196.3,104.4 z M212.1,106.6 C212.1,94.3 218.6,89.9 227.9,89.9 C237.2,89.9 243.7,94.3 243.7,106.6 L243.7,124.4 C243.7,136.7 237.2,141.1 227.9,141.1 C218.6,141.1 212.1,136.7 212.1,124.4 L212.1,106.6 z M221.6,125.6 C221.6,131.1 224,132.7 227.8,132.7 C231.6,132.7 234,131.2 234,125.6 L234,105.2 C234,99.7 231.6,98.2 227.8,98.2 C224,98.2 221.6,99.7 221.6,105.2 L221.6,125.6 z M260.8,90.5 L260.8,125.4 C260.8,130.1 262.9,132.7 267.5,132.7 C272.1,132.7 274.3,130.2 274.3,125.4 L274.3,90.5 L283.8,90.5 L283.8,125.5 C283.8,136.5 277.3,141.1 267.5,141.1 C257.7,141.1 251.2,136.5 251.2,125.5 L251.2,90.5 L260.8,90.5 z M322.5,90.5 L322.5,98.9 L311.4,98.9 L311.4,140.4 L301.9,140.4 L301.9,99 L290.8,99 L290.8,90.6 L322.5,90.6 z M329.4,140.4 L329.4,90.5 L338.9,90.5 L338.9,110.4 L352.4,110.4 L352.4,90.5 L361.9,90.5 L361.9,140.4 L352.4,140.4 L352.4,118.8 L339,118.8 L339,140.4 L329.4,140.4 z M386.9,140.4 L386.9,90.5 L411.8,90.5 L411.8,98.9 L396.4,98.9 L396.4,110.4 L408.4,110.4 L408.4,118.8 L396.4,118.8 L396.4,140.4 L386.9,140.4 z M418.3,140.4 L418.3,90.5 L427.8,90.5 L427.8,132 L443.2,132 L443.2,140.4 L418.3,140.4 z M448.8,106.6 C448.8,94.3 455.3,89.9 464.6,89.9 C473.9,89.9 480.4,94.3 480.4,106.6 L480.4,124.4 C480.4,136.7 473.9,141.1 464.6,141.1 C455.3,141.1 448.8,136.7 448.8,124.4 L448.8,106.6 z M458.4,125.6 C458.4,131.1 460.8,132.7 464.6,132.7 C468.4,132.7 470.8,131.2 470.8,125.6 L470.8,105.2 C470.8,99.7 468.4,98.2 464.6,98.2 C460.8,98.2 458.4,99.7 458.4,105.2 L458.4,125.6 z M511.2,140.4 L502.9,120 L498.3,120 L498.3,140.4 L488.8,140.4 L488.8,90.5 L502.6,90.5 C514.1,90.5 519.6,96 519.6,105.4 C519.6,111.6 517.4,116.1 512.1,118.1 L521.5,140.4 L511.2,140.4 z M498.3,112.2 L503.2,112.2 C507.4,112.2 510,110.1 510,105.3 C510,100.5 507.4,98.4 503.2,98.4 L498.3,98.4 L498.3,112.2 z M528.5,140.4 L528.5,90.5 L538,90.5 L538,140.4 L528.5,140.4 z M547.8,90.5 L561.1,90.5 C572,90.5 578.1,95.2 578.5,107.8 L578.5,123.1 C578.1,135.7 572,140.4 561.1,140.4 L547.8,140.4 L547.8,90.5 z M557.4,132 L560.7,132 C566,132 569,129.5 569,122 L569,108.9 C569,101.9 566.7,98.9 560.7,98.9 L557.4,98.9 L557.4,132 z M583.6,140.4 L596,90.5 L608.2,90.5 L620.3,140.4 L611.2,140.4 L608.8,129.9 L595.6,129.9 L592.9,140.4 L583.6,140.4 z M597.2,121.5 L606.7,121.5 L602.1,101.3 L602,101.3 L597.2,121.5 z"
          fill="#006747"></path>
      </g>
    </svg>
  </a>
</section>

<!-- <h3 class="text-center my-10 font-semibold">Gold</h3>
<section class="w-10/12 mx-auto grid grid-cols-1 lg:grid-cols-1">
  <a href="https://blackorlandotech.org/" target="_blank"
    ><img src={Bot.src} alt="Black Orlando Tech Logo" class="object-contain h-56 w-full px-2" />
  </a>
</section>

<h3 class="text-center my-10 font-semibold">Copper</h3>
<section class="w-10/12 mx-auto grid grid-cols-1 lg:grid-cols-1">
  <a href="https://www.datapsy.com/" target="_blank"
    ><img src={DataPsy.src} alt="Data Psy Logo" class="object-contain h-32 w-full px-2" /></a
  >
</section>

<h3 class="text-center my-10 font-semibold">Supporters</h3>
<section class="w-10/12 mx-auto grid grid-cols-1 lg:grid-cols-2">
  <a href="https://www.kodeco.com/" target="_blank">
    <img src={Kodeco.src} alt="Kodeco Logo" class="object-contain h-20 w-1/2 md:w-full px-2 mx-auto" />
  </a>
  <a href="https://www.jetbrains.com/" target="_blank">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="298"
      height="64"
      fill="none"
      viewBox="0 0 298 64"
      class="object-contain h-20 w-1/2 md:w-full px-2 mx-auto"
    >
      <defs>
        <linearGradient id="a" x1=".850001" x2="62.62" y1="62.72" y2="1.81" gradientUnits="userSpaceOnUse">
          <stop stop-color="#FF9419"></stop>
          <stop offset=".43" stop-color="#FF021D"></stop>
          <stop offset=".99" stop-color="#E600FF"></stop>
        </linearGradient>
      </defs>
      <path
        fill="currentColor"
        d="M86.4844 40.5858c0 .8464-.1792 1.5933-.5377 2.2505-.3585.6573-.8564 1.1651-1.5137 1.5236-.6572.3585-1.3941.5378-2.2406.5378H78v6.1044h5.0787c1.912 0 3.6248-.4282 5.1484-1.2846 1.5236-.8564 2.7186-2.0415 3.585-3.5452.8663-1.5037 1.3045-3.1966 1.3045-5.0886V21.0178h-6.6322v19.568Zm17.8556-1.8224h13.891v-5.6065H104.34v-6.3633h15.355v-5.7758H97.8766v29.9743h22.2464v-5.7757H104.34v-6.453Zm17.865-11.8005h8.882v24.0193h6.633V26.9629h8.842v-5.9451h-24.367v5.9551l.01-.01Zm47.022 9.0022c-.517-.2788-1.085-.4879-1.673-.6472.449-.1295.877-.2888 1.275-.488 1.096-.5676 1.962-1.3643 2.579-2.39.618-1.0257.936-2.2007.936-3.5351 0-1.5237-.418-2.8879-1.244-4.0929-.827-1.195-1.992-2.131-3.486-2.8082-1.494-.6672-3.206-1.0058-5.118-1.0058h-13.315v29.9743h13.574c2.011 0 3.804-.3485 5.387-1.0556 1.573-.707 2.798-1.6829 3.675-2.9476.866-1.2547 1.304-2.6887 1.304-4.302 0-1.4837-.338-2.8082-1.026-3.9833-.687-1.175-1.633-2.0812-2.858-2.7285l-.01.0099Zm-13.603-9.9184h5.886c.816 0 1.533.1494 2.161.4382.627.2888 1.115.707 1.464 1.2547.348.5378.527 1.1751.527 1.9021 0 .7269-.179 1.414-.527 1.9817-.349.5676-.837.9958-1.464 1.3045-.628.3087-1.345.4581-2.161.4581h-5.886v-7.3492.0099Zm10.138 18.134c-.378.5676-.916 1.0058-1.603 1.3145-.697.3087-1.484.4581-2.39.4581h-6.145v-7.6878h6.145c.886 0 1.673.1693 2.37.4979.687.3286 1.235.7867 1.613 1.3842.378.5975.578 1.2747.578 2.0414 0 .7668-.19 1.4241-.568 1.9917Zm29.596-5.3077c1.663-.7967 2.947-1.922 3.864-3.3659.916-1.444 1.374-3.117 1.374-5.0289 0-1.912-.448-3.5253-1.344-4.9592-.897-1.434-2.171-2.5394-3.814-3.3261-1.644-.7867-3.546-1.1751-5.717-1.1751h-13.124v29.9743h6.642V40.0779h4.322l6.084 10.9142h7.578l-6.851-11.7208c.339-.1195.677-.249.996-.3983h-.01Zm-2.151-6.1244c-.369.6274-.896 1.1154-1.583 1.444-.688.3386-1.494.5079-2.42.5079h-5.975v-8.2953h5.975c.926 0 1.732.1693 2.42.4979.687.3287 1.214.8166 1.583 1.434.368.6174.558 1.3544.558 2.1908 0 .8365-.19 1.5734-.558 2.2008v.0199Zm20.594-11.7308-10.706 29.9743h6.742l2.121-6.6122h11.114l2.27 6.6122h6.612L220.99 21.0178h-7.189Zm-.339 18.3431 3.445-10.5756.409-1.922.408 1.922 3.685 10.5756h-7.947Zm20.693 11.6312h6.851V21.0178h-6.851v29.9743Zm31.02-9.6993-12.896-20.275h-6.463v29.9743h6.055V30.7172l12.826 20.2749h6.533V21.0178h-6.055v20.275Zm31.528-3.3559c-.647-1.2448-1.564-2.2904-2.729-3.1369-1.165-.8464-2.509-1.4041-4.023-1.6929l-5.098-1.0456c-.797-.1892-1.434-.5178-1.902-.9958-.469-.478-.708-1.0755-.708-1.7825 0-.6473.17-1.205.518-1.683.339-.478.827-.8464 1.444-1.1153.618-.2689 1.335-.3983 2.151-.3983.817 0 1.554.1394 2.181.4182.627.2788 1.115.6672 1.464 1.1751s.528 1.0755.528 1.7228h6.642c-.04-1.7427-.528-3.2863-1.444-4.6207-.916-1.3443-2.201-2.3899-3.834-3.1468-1.633-.7568-3.505-1.1352-5.597-1.1352-2.091 0-3.943.3884-5.566 1.1751-1.623.7867-2.898 1.8721-3.804 3.2663-.906 1.3941-1.364 2.9775-1.364 4.76 0 1.444.288 2.7485.876 3.9036.587 1.1652 1.414 2.1311 2.479 2.8979 1.076.7668 2.311 1.3045 3.725 1.6033l5.397 1.1153c.886.2091 1.584.5975 2.101 1.1551.518.5577.767 1.2448.767 2.0813 0 .6672-.189 1.2747-.567 1.8025-.379.5277-.907.936-1.584 1.2248-.677.2888-1.474.4282-2.39.4282-.916 0-1.782-.1593-2.529-.478-.747-.3186-1.325-.7767-1.733-1.3742-.418-.5875-.617-1.2747-.617-2.0414h-6.642c.029 1.8721.527 3.5152 1.513 4.9492.976 1.424 2.32 2.5394 4.033 3.336 1.713.7967 3.675 1.195 5.886 1.195 2.21 0 4.202-.4083 5.915-1.2249 1.723-.8165 3.057-1.9418 4.023-3.3758.966-1.434 1.444-3.0572 1.444-4.8696 0-1.4838-.329-2.848-.976-4.1028l.02.01Z"
      ></path>
      <path
        fill="url(#a)"
        d="M20.34 3.66 3.66 20.34C1.32 22.68 0 25.86 0 29.18V59c0 2.76 2.24 5 5 5h29.82c3.32 0 6.49-1.32 8.84-3.66l16.68-16.68c2.34-2.34 3.66-5.52 3.66-8.84V5c0-2.76-2.24-5-5-5H29.18c-3.32 0-6.49 1.32-8.84 3.66Z"
      ></path>
      <path fill="#000" d="M48 16H8v40h40V16Z"></path>
      <path fill="#fff" d="M30 47H13v4h17v-4Z"></path>
    </svg>
  </a>
</section> -->

<section class="w-10/12 mx-auto mt-10">
  <iframe
    src="https://docs.google.com/presentation/d/e/2PACX-1vSLWOK5QCBkvoNcfB0K5fSPxPW6QHRpyYurCvBiizMBzb1VATghaDX0ZZ9IsJSmBuRb_tlOdBHUL8OS/embed?start=true&loop=true&delayms=5000"
    allowfullscreen="true"
    class="mx-auto w-full aspect-video rounded-3xl border-solid border-4 border-black dark:border-white"></iframe>
  <h2 class="text-center my-10">Why Sponsor DevFest Tampa?</h2>
  <ul>
    <li class="my-10 text-lg">
      <span class="font-semibold">Technical Recruiting:</span> DevFest Tampa is a great opportunity to meet emerging talent
      in the Tampa tech industry.
    </li>
    <li class="my-10 text-lg">
      <span class="font-semibold">Brand Recognition/Product Exposure:</span> Expand your brand presence and expose attendees,
      partners, and press to your company, product, or API.
    </li>
    <li class="my-10 text-lg">
      <span class="font-semibold">Support the Tampa Tech Community:</span> We are excited to be a part of the growing tech
      community in Tampa. Join us!
    </li>
  </ul>
  <Button
    text="Become a Sponsor"
    variant="primary"
    target="_blank"
    icon="tabler:mail"
    href="mailto:organizers@devfestflorida.com"
  />
  <Button
    text="Download Sponsor Packages"
    variant="primary"
    target="_blank"
    icon="tabler:square-rounded-arrow-down"
    href="/devfestflorida-partnership-july-1-2024-v2.pdf"
  />
</section>
