---
import VenueImage from '../../assets/images/usf-engineering-ii.webp';
---

<section class="w-10/12 mx-auto grid grid-cols-1 lg:grid-cols-2 gap-4">
  <div>
    <a href="https://maps.app.goo.gl/b4bkWB3eakXyEw4g8" target={'_blank'} rel="noreferrer">
      <img
        src={VenueImage.src}
        class="rounded-3xl border-solid border-4 border-black dark:border-white"
        alt="AI Center at Miami Dade College - North Campus"
      /></a
    >
    <p>
      We're excited to announce that DevFest Tampa will take place at<span class="font-semibold">
        University of South FLorida - Engineering Building II
      </span>
    </p>
  </div>
  <div>
    <a href="https://maps.app.goo.gl/b4bkWB3eakXyEw4g8" target={'_blank'} rel="noreferrer">
      <p class="text-lg">
        University of South Florida
        <br />
        Engineering Building II
        <br />
        4220 E Fowler Ave
        <br />
        Tampa, FL 33620
      </p>
    </a>

    <p>
      Special thanks to <a href="https://www.usf.edu" target="_blank">
        <span class="font-semibold"> University of South Florida </span>
      </a>
      for sponsoring DevFest Tampa on campus.
    </p>
  </div>
</section>
